.base-container {
  width: 40%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
}
.header {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  max-width: fit-content;
  background-color: bisque;
}

.content {
  display: flex;
  flex-direction: column;
}
.image {
  width: 100%;
}
.image > img {
  width: 100%;
  height: 100%;
}

.form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}
.form-group > label {
  font-size: 20px;
}
input {
  margin-top: 6px;
  min-width: 30%;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
}
input:focus {
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}
input:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}

.footer {
  margin-top: 1.1em;
}
.btn {
  width: 10rem;
  height: 2rem;
  background-color: bisque;
  border-radius: 30px;
  justify-content: space-around;
}
.btn:hover {
  font-size: 1.1rem;
  background-color: #e9f2f896;
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}
.reg-btn > h1 {
  padding: 5px;
  margin: auto;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  text-align: center;
  justify-content: space-around;
}
.btn-login > button {
  margin: 10px auto;
}

@media (max-width: 475px) {
  .base-container {
    width: 90%;
  }
}
